#trendGraph{
  height: 400px;
  text-align: center;
}
h1{
  text-align: center;
}
div{
  margin-bottom: 10px;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
div.btn.btn-primary{
  float: right;
}
.scroll-card{
  overflow-y: scroll;
  height: 300px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
